@font-face {   
  font-family: myFirstFont;   
  src: url(/AktivGroteskthin.ttf); 
}  

* {   
  font-family: myFirstFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

body {   
  background-color: white;   
  margin: 0;
}  

#heading {   
  display: flex;   
  justify-content: space-between;   
  align-items: center;   
  padding: 0.45rem 1rem;   
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
  background: none;
}  

h1, .nav-link {   
  color: rgb(0, 0, 0);   
  font-weight: 100;   
  text-decoration: none;   
  margin: 0; 
}  

h1 a {   
  text-decoration: none;   
  color: inherit; 
}  

h1 a:hover, .nav-link:hover {   
  text-decoration: underline; 
}  



iframe {   
  width: 100%;
  height: 100vh;
  border: none;
  display: block;
  margin-top: 0;
  z-index: 1000;
}  

@media (max-width: 554px) {   
  .nav-link {     
      font-size: 15px;     
      margin: 5px;   
  }      
  
  #heading {     
      padding: 0rem 1rem;     
      font-size: 15px;   
  } 
}  

@media (min-width: 554px) {   
  .nav-link {     
      font-size: 30px;     
      margin: 10px;   
  }      
  
  #heading {     
      padding: 1rem 2rem;     
      font-size: 32.5px;   
  } 
}