@media (min-width: 1px), (max-width: 626px) {
    * {
        cursor: none;
        font-family: myFirstFont;
    }

    body {
        background-color: white;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    #center-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 78vh;
        position: relative;
    }
    
    #logo {
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: opacity 1.5s ease-out;
    }
    
    #logo svg {
        display: block !important;
        width: 100% !important;
        height: auto !important;
        max-width: none !important;
        min-height: 200px;
    }

    #video-content {
        display: none;
        opacity: 0;
        transition: opacity 1s ease-in;
        width: 100%;
        height: 100%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 80px;
    }
    
    #video-content.fade-in {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #preview-video {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .video-info {
        width: 90%;
        text-align: left;
        padding: 0;
        margin-top: 20px;
    }
    
    .video-title {
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    
    .video-text {
        font-size: 10px;
        margin-bottom: 10px;
        line-height: 1.4;
        margin-left: 10px;
    }
    
    .video-link {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
    }
    .video-link:hover {
        text-decoration: underline;
    }

    .marquee-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        z-index: 1000;
    }
    
    .marquee {
        display: flex;
        overflow: hidden;
        gap: .5rem;
        position: relative;
        user-select: none;
    }
    
    .marquee-content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        color: #000;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 550;
        text-transform: lowercase;
        line-height: 1.2em !important;
        font-size: 20px;
        letter-spacing: 1.5px;
        min-width: 100%;
        gap: .5rem;
    }
    
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - .5rem));
        }
    }
    
    .scroll {
        animation: scroll 10s linear infinite;
    }

    #video-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9998;
    }

    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    body.video-playing > *:not(#video-container):not(#cursor) {
        display: none;
    }

    body.video-playing #cursor {
        color: white;
    }
}

@media (min-width: 627px) {
    * {
        font-family: myFirstFont;
    }
    
    body {
        background-color: white;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    #logo.fade-out {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.5s ease-out, visibility 0s linear 1.5s;
    }
    
    #video-content {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease-in, visibility 0s linear 1s;
    }
    
    #video-content.fade-in {
        opacity: 1;
        visibility: visible;
        transition: opacity 1s ease-in, visibility 0s linear;
    }
    
    #center-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;
    }
    #logo {
        opacity: 1;
        visibility: visible;
        transition: opacity 1.5s ease-out, visibility 0s linear;
    }
    
    
    
    #logo {
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: opacity 1.5s ease-out;
    }

    #video-content {
        display: none;
        opacity: 0;
        transition: opacity 1s ease-in;
        width: 100%;
        height: 100%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 90px;
    }
    
    #video-content.fade-in {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #preview-video {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .video-info {
        width: 100%;
        text-align: left;
        padding: 0;
        margin-top: 20px;
    }
    
    .video-title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .video-text {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.4;
    }
    
    .video-link {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
    }
    .video-link:hover {
        text-decoration: underline;
    }

    .marquee-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        z-index: 1000;
    }
    
    .marquee {
        display: flex;
        overflow: hidden;
        gap: .5rem;
        position: relative;
        user-select: none;
    }
    
    .marquee-content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        color: #000;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 550;
        text-transform: lowercase;
        line-height: 1.2em !important;
        font-size: 30px;
        letter-spacing: 2px;
        min-width: 50%;
        gap: .5rem;
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - .5rem));
        }
    }
    
    .scroll {
        animation: scroll 10s linear infinite;
    }

    #video-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9998;
    }

    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    body.video-playing > *:not(#video-container):not(#cursor) {
        display: none;
    }

    body.video-playing #cursor {
        color: white;
    }
}

@font-face {
    font-family: nimbus-big;
    src: url(/nimbus/NimbusRomNo9L-Med.otf);
}

@font-face {
    font-family: nimbus-small;
    src: url(/nimbus/NimbusRomNo9L-Reg.otf);
}

@font-face {
    font-family: myFirstFont;
    src: url(/AktivGroteskthin.ttf);
}